<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <header>
        <div class="topBar">
                <img class="logo" src=/images/logo-mercado-liebre.svg>
                <span class="navBar">Lugar para poner la barra de búsqueda</span>
            <p id="compraEnCuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <div class="botHeader">
            <ul class="ul1">
                <li>
                    <a id="nav" href=>Ofertas</a>
                </li>
                <li>
                    <a id="nav" href=>Tiendas Oficiales</a>
                </li>
                <li>
                    <a id="nav" href=>Vender</a>
                    </il>
                <li>
                    <a id="nav" href=>Ayuda</a>
                </li>
            </ul>
            <ul class="ul2">
                <li>
                    <a id="nav" href=>Creá tu cuenta <i class="far fa-address-card"></i></a>
                </li>
                <li>
                    <a id="nav" href=>Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a id="nav" href=>Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <img src="/images/img-home-banner.jpg" width=100%>
    <div id="background">
        <div id="main">
            <section>
                <h3 class="basado">Basado en tu última visita</h3>
                <div class="productos">
                    <article>
                        <img src=/images/img-cafetera-moulinex.jpg>
                        <div class="logoEnvío"><i class="fas fa-truck"></i></div>
                        <div class=cajaDatos>
                            <div class="mismoRenglon">
                                <p class="precio">$6.770</p>
                                <p class="descuento">40% OFF</p>
                            </div>
    
                            <h4 class="descripcion">Cafetera Moulinex</h4>
                        </div>
                    </article>
    
                    <article>
                        <img src=/images/img-macbook-pro-2019.jpg width="360">
                        <div class=cajaDatos>
                            <div class="mismoRenglon">
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% OFF</p>
                            </div>
                            <h4 class="descripcion">MacBook Pro 2019</h4>
                        </div>
                    </article>
    
                    <article>
                        <img src=/images/img-samsung-galaxy-s10.jpg width="360">
                        <div class=cajaDatos>
                            <div class="mismoRenglon">
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% OFF</p>
                            </div>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                        </div>
                    </article>
    
                    <article>
                        <img src=/images/img-tv-samsung-smart.jpg width="360">
                        <div class=cajaDatos>
                            <div class="mismoRenglon">
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% OFF</p>
                            </div>
                            <h4 class="descripcion">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
    
                </div>

            </section>
            <section>
                <h3>Ofertas</h3>

                <article>
                    <img src=/images/img-cafetera-moulinex.jpg width="360">
                    <div class=cajaDatos>
                        <div class="mismoRenglon">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>

                <article>
                    <img src=/images/img-macbook-pro-2019.jpg width="360">
                    <div class=cajaDatos>
                        <div class="mismoRenglon">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article>
                    <img src=/images/img-samsung-galaxy-s10.jpg width="360">
                    <div class=cajaDatos>
                        <div class="mismoRenglon">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img src=/images/img-tv-samsung-smart.jpg width="360">
                    <div class=cajaDatos>
                        <div class="mismoRenglon">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>

            </section>
        </div>
    </div>

    <footer>
        <section>
            <i class="fas fa-credit-card iconoFooter"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift iconoFooter"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield iconoFooter"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>