<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src=/images/logo-mercado-liebre.svg>
        <br>
        <br>
        <div>Lugar para poner la barra de búsqueda</div>
        <br>
        <div>Comprá en cuotas y sin tarjeta de crédito</div>
        <ul>
            <li> 
                <a href=>Ofertas</a>
            </li>
            <li> 
                <a href=>Tiendas Oficiales</a>
            </li>
            <li> 
                <a href=>Vender</a>
            </il>
            <li> 
                <a href=>Ayuda</a>
            </li>
            <br>
            <li> 
                <a href=>Creá tu cuenta</a>
            </li>
            <li> 
                <a href=>Ingresá</a>
            </li>
            <li> 
                <a href=>Mis compras</a>
            </li>
        </ul>
    </header>
    <img src="/images/img-home-banner.jpg" alt="">
    <section>
        <h2>Basado en tu última visita</h2>
        <article>
            <img src=/images/img-cafetera-moulinex.jpg>
            <br>
            <div>$6.770</div>
            <br>
            <div>40% OFF</div>
            <br>
            <h3>Cafetera Moulinex</h3>
            <br>
        </article>
        <article>
            <img src=/images/img-macbook-pro-2019.jpg>
            <br>
            <div>$230.000</div>
            <br>
            <div>20% OFF</div>
            <br>
            <h3>MacBook Pro 2019</h3>
            <br>
        </article>
        <article>
            <img src=/images/img-samsung-galaxy-s10.jpg>
            <br>
            <div>$70.500</div>
            <br>
            <div>10% OFF</div>
            <br>
            <h3>Samsung Galaxy S10</h3>
            <br>
        </article>
        <article>
            <img src=/images/img-tv-samsung-smart.jpg>
            <br>
            <div>$23.200</div>
            <br>
            <div>5% OFF</div>
            <br>
            <h3>SmartTv Samsung 43"</h3>
            <br>
        </article>
    </section>
    <section>
        <h2>Ofertas</h2>
        <article>
            <img src=/images/img-cafetera-moulinex.jpg>
            <br>
            <div>$6.770</div>
            <br>
            <div>40% OFF</div>
            <br>
            <h3>Cafetera Moulinex</h3>
            <br>
        </article>
        <article>
            <img src=/images/img-macbook-pro-2019.jpg>
            <br>
            <div>$230.000</div>
            <br>
            <div>20% OFF</div>
            <br>
            <h3>MacBook Pro 2019</h3>
            <br>
        </article>
        <article>
            <img src=/images/img-samsung-galaxy-s10.jpg>
            <br>
            <div>$70.500</div>
            <br>
            <div>10% OFF</div>
            <br>
            <h3>Samsung Galaxy S10</h3>
            <br>
        </article>
        <article>
            <img src=/images/img-tv-samsung-smart.jpg>
            <br>
            <div>$23.200</div>
            <br>
            <div>5% OFF</div>
            <br>
            <h3>SmartTv Samsung 43"</h3>
            <br>
        </article>
    </section>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        </section>
    </footer>
</body>
</html>