<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styleslogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <main>
        <form action="/login" method="POST" class="createForm">
  
            <div class="controlFormulario">
                <input class="control" type="text" name="nombreUsuario" id="nombreUsuario"
                    placeholder="Nombre de usuario" required>
            </div>
   
            <div class="controlFormulario">
                <input class="control" type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            
            <button class="button" type="submit">Enviar</button>
        </form>
    </main>
</body>

</html>