<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <header>
        <div class="topBar">
            <img class="logo" src=/images/logo-mercado-liebre.svg>
            <span class="navBar">
                <form>
                    <input type="text" name="navBar" id="navBar" placeholder="Buscar productos, marcas y más">
                </Form>
            </span>
            <p id="compraEnCuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <div class="botHeader">
            <ul class="ul1">
                <li>
                    <a id="nav" href=>Ofertas</a>
                </li>
                <li>
                    <a id="nav" href=>Tiendas Oficiales</a>
                </li>
                <li>
                    <a id="nav" href=>Vender</a>
                    </il>
                <li>
                    <a id="nav" href=>Ayuda</a>
                </li>
            </ul>
            <ul class="ul2">
                <li>
                    <a id="nav" href="register">Creá tu cuenta <i class="far fa-address-card"></i></a>
                </li>
                <li>
                    <a id="nav" href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a id="nav" href=>Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <form action="/register" method="POST" class="createForm">
            <div class="controlFormulario">
                <input class="control" type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required>
            </div>
            <div class="controlFormulario">
                <input class="control" type="text" name="nombreUsuario" id="nombreUsuario"
                    placeholder="Nombre de usuario" required>
            </div>
            <div class="controlFormulario">
                <input class="control" type="email" name="E-mail" id="E-mail" placeholder="E-mail" required>
            </div>
            <div class="controlFormulario" id="nacimientos">
                <h3>Fecha de nacimiento</h3>
                <input class="control" type="date" name="nacimiento" id="nacimiento" placeholder="Nombre y apellido"
                    required>
            </div>
            <div class="controlFormulario">
                <input class="control" type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
            </div>
            <div class="controlFormulario">
                <h3>Perfil del usuario</h3>
                <div class="contenedor">
                    <div class="contenedor" id="div">
                        <input class="perfilDeUsuaro" type="radio" name="perfilUsuario" id="comprador"
                            value="comprador">
                        <label for="comprador">Comprador</label>
                    </div>

                    <div class="contenedor" id="div">
                        <input class="perfilDeUsuaro" type="radio" name="perfilUsuario" id="vendedor" value="comprador">
                        <label for="vendedor">Vendedor</label>
                    </div>
                </div>
            </div>
            <div class="controlFormulario">
                <h3>Intereses</h3>

                <div class="contenedor">
                    <input type="checkbox" name="Intereses" id="electro" value="electro">
                    <label for="electro">Electro</label>
                </div>


                <div class="contenedor">
                    <input type="checkbox" name="Intereses" id="Moda" value="Moda">
                    <label for="Moda">Moda</label>
                </div>


                <div class="contenedor">
                    <input type="checkbox" name="Intereses" id="Hogar" value="Hogar">
                    <label for="Hogar">Hogar</label>
                </div>


                <div class="contenedor">
                    <input type="checkbox" name="Intereses" id="Juguetería" value="Juguetería">
                    <label for="Juguetería">Juguetería</label>
                </div>


                <div class="contenedor">
                    <input type="checkbox" name="Intereses" id="Vida sana" value="Vida sana">
                    <label for="Vida sana">Vida sana</label>
                </div>

            </div>
            <div class="controlFormulario" id="foto">
                <h3>Seleccione una foto de usuario</h3>
                <input type="file" name="foto">
            </div>
            <div class="controlFormulario">
                <input class="control" type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <div class="controlFormulario">
                <input class="control" type="password" name="password" id="password" placeholder="Confirmar contraseña">
            </div>
            <button class="button" type="submit">Enviar</button>
            <button class="button" type="reset">Borrar</button>
        </form>
    </main>

    <footer>
        <section>
            <i class="fas fa-credit-card iconoFooter"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift iconoFooter"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield iconoFooter"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="copyright">
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>