*{
    box-sizing: border-box;
}

@media(max-width:360px) {
    .descripcion {
        display: none;
    }
    .ul1 {
        display: none;
    }

}

@media (min-width: 361px) {
    #main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
}

@media (min-width: 769px) {

}

body {
    font-family: 'Roboto', sans-serif;
}

#background {
    background-color: #dfdfdf;
}

#main {
    width: 90vw;
    margin: auto;
}

#main section h3 {
    color: #666;
}

#main section img {
    width: 100%;
    margin: auto;
}

.precio {
    color: black;
    margin: 0%;
}

.descuento {
    color: #39b54a;
    margin: 0%;
}

.descripcion {
    color: grey;
}

#main article {
    margin-bottom: 10px;
}

.cajaDatos {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
}

header {
    background-color: #EAC926;
    padding-bottom: 10px;
}

p {
    font-size: 12px;
}

h3 {
    font-size: 24px;
}

#compraEnCuotas {
    text-align: center;
    font-size: 14px;
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
}

.descripcion {
    font-size: 16px;
}

#nav {
    color: black;
    text-decoration: none;
    text-align: left;
}

.burger-menu {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #03264C;
    padding: 10px;
    width: 20px;
    margin: auto;
    border-radius: 5px;
    box-sizing: content-box;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.iconoFooter {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

footer h3 {
    margin: 0%;
    color: #666
}

footer p {
    margin-top: 0%;
    margin-bottom: 50px;
    color: #666;
}

.copy {
    text-align: left;
}

.ul1 {
    list-style: none;
    padding-left: 0px;
}

footer section {
    padding: 0px 25px 0px;
}