/* SELECTORES 
Selecciona elementos del HTML y aplica reglas de diseño en los mismos

SELECTOR {
    REGLA1: VALOR1;
    REGLA2: VALOR2;
}

OTROSELECTOR {
    REGLA3: VALOR3
}
*/

/* Etiqueta, clase, id */
